<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PharmaCare{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">

        <a class="navbar-brand" href="/">PharmaCare</a>

        <div class="ms-auto">

            {% if user.is_authenticated %}

                <span class="text-white me-3">
                    Welcome {% if user.groups.all %}
    {% for group in user.groups.all %}
        <span class="badge bg-warning text-dark">
            {{ group.name }}
        </span>
    {% endfor %}
{% endif %}, {{ user.username }}
                </span>


                {% for group in user.groups.all %}

    {% if group.name == "Admin" %}
        <a href="#" class="btn btn-light btn-sm me-2">Users</a>
    {% endif %}

    {% if group.name == "Pharmacist" %}
        <a href="#" class="btn btn-light btn-sm me-2">Inventory</a>
    {% endif %}

    {% if group.name == "Cashier" %}
        <a href="#" class="btn btn-light btn-sm me-2">Sales</a>
    {% endif %}

{% endfor %}

               <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm">
        Logout
    </button>
</form>

                <a href="{% url 'login' %}" class="btn btn-light btn-sm">
                    Login
                </a>

            {% endif %}

        </div>

    </div>
</nav>
</nav>

<div class="container mt-4">

    {% block content %}

    {% endblock %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>